.footer {
  &__newsletter {
    display: flex;
    align-items: center;
    padding: 30px 0px;
    background: $newsletter_bg-color;
    .newsletter {
      &__container {
        display: flex;
        align-items: center;
        max-width: 970px;
        padding: 0 20px;
        width: 100%;
        margin: 0 auto;
      }

      &__text {
        display: flex;
        color: $newsletter_text-color;
        margin-right: 15px;
        align-items: center;
        img {
          margin-right: 15px;
        }
        &--content {
          width: 230px;
          line-height: 22px;
          font-size: 15px;
          strong {
            font-size: 15px;
          }
        }

        &--highlight {
          color: $newsletter_text-color-2;
        }

        &--img {
          margin-right: 20px;
          svg {
            color: $newsletter_text-color-2;
            font-size: 42px;
            transform: rotate(-20deg);
          }
        }
      }

      &__form {
        display: flex;
        width: 100%;
        &__input {
          width: 100%;
          position: relative;
          input {
            border-radius: 3px;
            padding: 5px 10px;
            height: 35px;
            max-height: 35px;
            width: calc(100% - 10px);
          }

          span {
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 95%;
            padding: 3px;
            text-align: center;
            text-transform: lowercase;
            font-size: 12px;
            color: $newsletter_error-text-color;
            background-color: $newsletter_error-bg-color;
          }
        }
        .form__inputs {
          display: flex;
          button {
            background: $newsletter_botton-bg-color;
            height: 35px;
            width: 35px;
            padding: 0;
            border-radius: 3px;

            svg {
              color: $newsletter_botton-text-color;
              font-size: 22px;
            }
          }
        }
      }

      @media screen and (max-width: 900px) {
        &__form {
          flex-wrap: wrap;
          align-items: center;
          position: relative;
        }

        &__text {
          justify-content: center;
          margin-right: 0;
          margin-bottom: 15px;
        }
        &__form {
          &__input {
            width: calc(100% - 50px);
            margin-bottom: 5px;
            span {
              color: var(--danger);
              bottom: 0;
              text-align: right;
              padding: 3px;
            }
          }

          .form__inputs {
            position: absolute;
            right: 5px;
          }
        }
      }

      @media screen and (max-width: 700px) {
        &__text {
          justify-content: center;
          margin-right: 0;
          margin-bottom: 15px;
        }
        &__container {
          flex-direction: column;
        }
        &__form {
          max-width: 400px;
        }
      }
    }
  }

  &__footer-central {
    background: $footer_bg-color;
    color: $footer_text-color;
    font-size: 12px;

    a {
      color: $footer_text-color;
      font-size: 12px;
    }

    h2 {
      color: $footer_titles-color;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .app-container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 30px;
      padding-bottom: 80px;

      .footer-central {
        &__institucional,
        &__atendimento,
        &__pagamentos-envios,
        &__selos-seguranca {
          display: flex;
          flex-direction: column;
        }

        &__institucional {
          width: 19%;

          a {
            margin-bottom: 10px;
          }
        }

        &__atendimento {
          width: 17%;
          margin-right: 75px;
          .atendimento {
            &__social-medias {
              margin-top: 10px;

              a {
                margin: 0 5px;
              }

              svg {
                color: $footer_icons-color;
                font-size: 24px;
              }
            }
          }
          span {
            line-height: 14px;
            margin-bottom: 12px;
          }
        }

        &__pagamentos-envios {
          width: 29%;
          .pagamentos-envios {
            &__pagamentos {
              margin-bottom: 45px;
            }
            &__pagamentos,
            &__envios {
              img {
                margin-right: 10px;
              }
            }
          }
        }

        &__seals-and-security {
          width: 30%;
          margin-right: -20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .seals-and-security {
            &__seal {
              display: block;
              margin-bottom: 20px;
            }
          }
        }
      }

      @media screen and (max-width: 1152px) {
        .footer-central {
          &__institucional {
            width: 50%;
          }

          &__atendimento {
            width: 50%;
            margin-right: 0px;
          }
          &__pagamentos-envios {
            width: 50%;
            margin-top: 35px;
            .pagamentos-envios {
              &__pagamentos {
                margin-bottom: 40px;
              }
            }
          }
          &__seals-and-security {
            width: 50%;
            margin-top: 35px;
          }
        }
      }

      @media screen and (max-width: 680px) {
        align-items: center;
        padding-bottom: 5px;
        flex-direction: column;
        .footer-central {
          &__institucional,
          &__atendimento,
          &__pagamentos-envios,
          &__seals-and-security {
            width: 100%;
            text-align: center;
          }

          &__atendimento {
            margin-top: 30px;
            width: 45%;
          }

          &__seals-and-security {
            align-items: center;
          }
        }
      }
    }
  }

  &__company-infos {
    color: $made_by_text-color;
    background-color: $made_by_bg-color;
    width: 100%;
    .app-container {
      display: flex;
      justify-content: space-between;
      padding: 10px 0 7px 0;
      font-size: 12px;

      .company-infos {
        &__desenvolvimento {
          display: flex;
          align-items: center;
          & > span {
            margin-top: -5px;
          }
          .desenvolvimento__logos {
            display: flex;
            align-items: center;

            a {
              margin-left: 10px;

              img {
                max-height: 20px;
              }
            }
          }
        }

        &__dados {
          display: flex;
          span:nth-child(2) {
            margin-left: 10px;
            margin-right: 10px;
          }
        }
      }

      @media screen and (max-width: 850px) {
        flex-direction: column;
        padding: 0px 0 7px 0;
        align-items: center;
        .company-infos {
          &__desenvolvimento {
            margin-top: 10px;
            flex-direction: column;
            & > span {
              margin-top: 0px;
            }
            .desenvolvimento__logos {
              display: flex;
              margin: 10px 0;
              align-items: center;

              a:nth-child(1) {
                margin-left: 0px;
                margin-right: 20px;
              }
            }
          }
          &__dados {
            flex-direction: column;
            margin-bottom: 3px;
            align-items: center;
            span:nth-child(2) {
              margin-top: 6px;
            }
          }
        }
      }
    }
  }

  &__whats-fixed {
    left: calc(100vw - 91px);
    bottom: 10px;
    z-index: 999;
    position: fixed;
    transition: all 0.2s;
  }
}

.mobile_shadow--active {
  .footer__whats-fixed {
    left: calc(100vw + 70px);
  }
}
