.btn-default,
.btn-secondary {
  cursor: pointer;
  transition: all 0.2s;
}

.btn-default {
  background-color: $button-bg-color;
  color: $button-text-color;

  &:hover {
    background-color: $button-bg-hover-color;
    color: $button-text-hover-color;
  }
}

.btn-secondary {
  background-color: #000;
  color: #fff;

  &:hover {
    background-color: $button-bg-color;
    color: $button-text-color;
  }
}
