.product-card {
  .product {
    display: block;
    border-radius: 4px;

    & > * {
      background: white;
      border-left: 1px solid #dbdbdb;
      border-right: 1px solid #dbdbdb;
      text-align: center;
    }

    &__topbar {
      display: flex;
      padding-top: 5px;
      position: relative;
      justify-content: center;
      border-radius: 4px 4px 0 0;
      border-top: 1px solid #dbdbdb;
      min-height: 206px;
      img {
        max-width: 100%;
        max-height: 200px;
        margin: 0 8.5px;
      }
      .topbar {
        &__discount {
          width: 40px;
          height: 40px;
          display: flex;
          margin-top: 5px;
          margin-right: 5px;
          color: #2e2e2e;
          font-size: 12px;
          border-radius: 50%;
          align-items: center;
          background: var(--main-color);
          justify-content: center;

          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }

    &__infos {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        max-width: 90%;
      }

      .infos {
        &__brand {
          font-size: 14px;
          color: #292929;
          font-weight: bold;
          margin-top: 13px;
          margin-bottom: 6px;
        }
        &__ref {
          font-size: 12px;
          color: #b0b0b0;
        }
        &__name {
          font-size: 14px;
          color: #292929;
          line-height: 21px;
          height: 65px;
          margin: 14px 10px 20px 10px;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }

    &__prices {
      display: flex;
      align-items: center;
      flex-direction: column;
      .prices {
        &__old {
          font-size: 14px;
          color: #b0b0b0;
          text-decoration: line-through;
        }
        &__actual {
          font-size: 18px;
          color: #292929;
          font-weight: bold;
          margin-top: 8px;
          margin-bottom: 10px;
        }
        &__installments {
          font-size: 14px;
          color: #b0b0b0;
          strong {
            color: #292929;
          }
        }
      }
    }

    &__actions {
      display: flex;
      background: transparent;
      flex-direction: column;

      border-left: 0;
      border-right: 0;
      .actions {
        &__buy,
        &__link-category {
          background: white;
          border-radius: 0 0 4px 4px;
          border-left: 1px solid #dbdbdb;
          border-right: 1px solid #dbdbdb;
          border-bottom: 1px solid #dbdbdb;
        }
        &__link-category {
          color: #292929;
          padding-top: 20px;
          padding-bottom: 20px;
          text-decoration: underline;
        }
        &__buy {
          opacity: 0;
          display: flex;
          padding: 0 2px 2px 2px;
          transition: all 0.2s;
          .buy {
            &__qtd {
              min-width: 20%;
              border-radius: 3px;
              background: white;
              border: 1px solid #dcdcdc;
              margin-right: 5px;
            }
            &__button {
              min-width: calc(80% - 5px);
              width: 100%;
              height: 35px;
              color: white;
              font-size: 14px;
              border-radius: 3px;
              background: #01a201;
            }
          }
        }
      }
    }

    &:hover {
      box-shadow: 1px 1px 12px #2c2c2c30;
      .product {
        &__actions {
          .actions {
            &__link-category {
              border-radius: 0px;
              border-bottom: none;
            }
            &__buy {
              opacity: 1 !important;
            }
          }
        }
      }
    }

    .number-input {
      width: 45px;
      height: 35px;
      border-radius: 3px;
      border: 1px solid #dcdcdc;
      position: relative;

      input {
        height: 100%;
        max-width: 45px;
        padding-right: 15px;

        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }

      button {
        right: 0;
        width: 20px;
        height: 20px;
        position: absolute;

        svg {
          font-size: 11px;
        }
      }

      .plus {
        top: 0;
      }

      .minus {
        bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .product-card {
    .product {
      &__topbar {
        padding-top: 5px;

        .topbar {
          &__discount {
            width: 30px; /* Photoshop 25 */
            height: 30px; /* Photoshop 25 */
            font-size: 8px; /* Photoshop 7.7 */
          }
        }
      }

      &__infos {
        .infos {
          &__brand {
            font-size: 12px;
            font-weight: bold;
          }
          &__name {
            font-size: 12px;
            line-height: 15px;
            margin: 12px 10px 10px 10px;
          }
        }
      }

      &__prices {
        .prices {
          &__old {
            font-size: 12px;
          }
          &__actual {
            font-size: 12px;
            margin-top: 4px;
            margin-bottom: 4px;
          }
          &__installments {
            font-size: 12px;
          }
        }
      }

      &__actions {
        .actions {
          &__link-category {
            font-size: 12px;
            padding-top: 12px;
            padding-bottom: 8px;
          }
          &__buy {
            display: none;
          }
        }
      }
    }
  }
}
