.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee22;
}

.box {
  position: relative;
  max-width: 96vw;
  max-height: 96vh;
  overflow: auto;
  background-color: #eeeeee;
  padding: 20px 20px;
}

.close {
  text-align: center;
  margin: 0 0 5px;
  position: absolute;
  top: 7px;
  right: 0;
  cursor: pointer;

}

.close svg {
  width: 30px;
  font-size: 18px;
}
