@import "./style.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./normalize.scss";
@import "./product.scss";
@import "./slider.scss";
@import "./breadcrumb.scss";

@import "./main.scss";
@import "./categoria.scss";
@import "./pg-institutional";
@import "./pg-produto.scss";
@import "./login.scss";
@import "./cadastro.scss";
@import "./minha-conta.scss";
@import "./pedidos.scss";
@import "./fechamento.scss";
@import "./carrinho.scss";
@import "./confirmacao.scss";

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;

  .float-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 96vw;
    max-height: 96vh;
    overflow: auto;
    background-color: #eeeeee;
    padding: 40px 20px 20px;
  }

  .close {
    width: 30px;
    text-align: center;
    margin: 0 0 5px;
    position: absolute;
    top: 7px;
    right: 0;
    cursor: pointer;
  }
}
