.main {
  &__gallery {
    display: flex;
    flex-direction: column;
    .gallery {
      &__top-filter {
        display: flex;
        justify-content: flex-end;
      }

      &__order-by {
        display: flex;
        font-size: 12px;
        align-items: center;
        align-self: flex-end;

        .dropdown {
          margin-left: 10px;
          button {
            height: 35px;
            width: 120px;
            color: #777;
            display: flex;
            font-size: 12px;
            border-radius: 0;
            background: white;
            align-items: center;
            justify-content: space-between;
          }

          &-menu {
            border-radius: 0;
          }

          &-item {
            padding: 0.4rem 1.5rem;
          }
        }
      }

      &__search {
        display: flex;
        font-size: 12px;
        align-items: center;

        input {
          border: 1px solid #999;
          padding: 7px 10px;
          font-size: 16px;
          margin: 0 5px;
        }

        label {
          font-size: 14px;
          strong {
            font-weight: 900;
          }
        }
      }

      &__products {
        display: flex;
        flex-wrap: wrap;

        .product-card {
          width: calc(33% - 10px);
          margin-right: 18px;
          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }

      &__pagination {
        display: flex;
        margin-top: 10px;
        padding-top: 23px;
        justify-content: space-evenly;
        border-top: 1px solid #e4e4e4;

        .pagination {
          &__page {
            margin-right: 20px;
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }

      &__description {
        font-size: 14px;
        margin-top: 47px;
        margin-bottom: 60px;
      }
    }

    @media screen and (max-width: 991px) {
      padding-left: 0;
    }

    @media screen and (max-width: 670px) {
      .gallery {
        &__products {
          .product-card {
            width: calc(50% - 9px);
            margin-right: 18px;
            margin-bottom: 18px;
            &:nth-child(3n) {
              margin-right: 18px;
            }
            &:nth-child(2n) {
              margin-right: 0;
            }
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
      .gallery {
        &__products {
          .product-card {
            width: calc(50% - 6px);
            margin-right: 12px;
            margin-bottom: 12px;
            &:nth-child(3n) {
              margin-right: 12px;
            }
            &:nth-child(2n) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  &__filters {
    .filters {
      &__title {
        outline: none;
        display: flex;
        align-items: center;

        width: 100%;
        padding-left: 0;
        font-size: 14px;
        font-weight: bold;
        border-radius: 0;

        svg {
          display: none;
          margin-left: 15px;
        }
      }

      &__filter {
        margin-left: 10px;

        & > button {
          display: flex;
          align-items: center;
          justify-content: space-between;

          width: 100%;
          color: #000;
          font-size: 14px;
          text-align: left;
          padding: 0 0 7px 0 !important;
          border-bottom: 1px solid #e1e1e1 !important;
        }

        .filter__link {
          line-height: 1.5rem;

          a {
            color: #000;
            text-decoration: underline;
          }
        }

        .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
          background: no-repeat center !important;
          background-image: url(/images/checkbox-check.png) !important;
        }

        .custom-checkbox {
          padding-left: 35px;
        }

        .custom-control-label {
          &::after {
            top: -1px;
            left: -34px;
          }
          &::before {
            top: -2px;
            left: -35px;
            width: 20px;
            height: 20px;
            border-radius: 0 !important;
            background: white !important;
            border: 1px solid #525252 !important;
          }
        }

        .dropdown-menu.show {
          float: none !important;
          transform: none !important;
          position: static !important;
        }
      }
    }

    @media screen and (max-width: 991px) {
      border: 1px solid #eee;
      padding-right: 20px;
      margin-bottom: 20px;
      .filters {
        &__title {
          padding-top: 15px;
          padding-bottom: 10px;
          margin: 0 10px;
          justify-content: space-between;
          border-bottom: 2px solid black;
          svg {
            display: block;
          }
        }
      }
    }
  }

  &__banner {
    position: relative;
    width: 100%;
    text-align: center;
    min-height: 75px;
    img {
      width: 100%;
      margin: auto;
    }

    .main__breadcrumb {
      position: absolute;
      bottom: 15px;
      @media screen and (max-width: 400px) {
        margin-top: -35px;
      }
    }
  }
}
