$main-color: #bf383c;
$contrast-color: #292929;
$bg-color: #f8f8f8;
$text-color: $contrast-color;

$title-color: #292929;
$title-border-color: $main-color;

$button-bg-color: $main-color;
$button-text-color: $contrast-color;
$button-bg-hover-color: $contrast-color;
$button-text-hover-color: $main-color;

/* ------------- Configurações do header do catalogo ------------- */
$header_bg-color: $contrast-color;
$header_text-color: #fff;
$header_topline-color: $main-color;
$header_links-color: $main-color;
$header_icons-color: $main-color;
$header_cart-qtd-bg-color: $main-color;
$header_cart-qtd-text-color: $contrast-color;

/* ------------- Configurações do header fixo do catálogo ------------- */
$header_fixed_bg-color: $contrast-color;
$header_fixed_text-color: #fff;
$header_fixed_icons-color: $main-color;
$header_fixed_search_button-bg-color: $main-color;
$header_fixed_search_button-text-color: $contrast-color;
$header_fixed_menu_button-color: $main-color;
$header_fixed_cart-qtd-bg-color: $main-color;
$header_fixed_cart-qtd-text-color: $contrast-color;

/* ------------- Configurações do header da 'minha área' ------------- */
$header_simple_bg-color: $contrast-color;
$header_simple_text-color: #fff;

/* ------------- Configurações da barra de busca ------------- */
$search_bg-color: $main-color;
$search_button-bg-color: darken($main-color, 15%);
$search_button-text-color: #fff;

/* ------------- Configurações do menu de categorias ------------- */
$menu_bg-color: #fff;
$menu_text-color: #fff;
$menu_img-bg-color: #fff;
$menu_img-radius: 0;
$menu_border-color: #e5e5e5;
$menu_seeall_icon-color: $main-color;
$menu_seeall_text-color: $contrast-color;
$menu_seeall_arrow-color: $contrast-color;

$menu_hover_bg-color: $contrast-color;
$menu_hover_icon-color: #fff;
$menu_hover_text-color: #fff;
$menu_hover_text-hover-color: $contrast-color;
$menu_hover_bg-hover-color: $main-color;
$menu_hover_icon-hover-color: $contrast-color;

$menu_hover2_bg-color: #fff;
$menu_hover2_text-color: #222;

/* ------------- Configurações do menu mobile ------------- */
$menu_mob_bg-color: $contrast-color;
$menu_mob_text-color: #fff;
$menu_mob_arrow-color: #fff;

$menu_mob_subcategory-text-color: #222;
$menu_mob_subcategory-bg-color: #fff;
$menu_mob_subcategory_title-text-color: $contrast-color;
$menu_mob_subcategory_title-bg-color: $main-color;
$menu_mob_subcategory_title-arrow-color: $contrast-color;
$menu_mob_subcategory_close-bg-color: $contrast-color;
$menu_mob_subcategory_close-text-color: #fff;

/* ------------- Configurações do scrool global ------------- */
$scroolbar_fg_color: $main-color;
$scroolbar_bg_color: #eeeeee;

/* ------------- Configurações do footer ------------- */
$footer_bg-color: $contrast-color;
$footer_titles-color: $main-color;
$footer_text-color: #b0b0b0;
$footer_icons-color: $main-color;

/* ------------- Configurações da barra de newsletter ------------- */
$newsletter_bg-color: #292929;
$newsletter_text-color: #a9a9a9;
$newsletter_text-color-2: $main-color; // ofertas exclusivas
$newsletter_botton-bg-color: $main-color;
$newsletter_botton-text-color: $contrast-color;
$newsletter_error-bg-color: $main-color;
$newsletter_error-text-color: var(--danger);

$made_by_text-color: #000;
$made_by_bg-color: #fff;

/* ------------- Configurações dos Sliders ------------- */
$slider_arrow-bg-color: #000;
$slider_arrow-icon-color: #000;
$slider_arrow-border-color: #000;
$slider_arrow-opacity: #000;

/* ------------- Configurações dos Sliders ------------- */
$aside_cart-bg-color: #fff;
$aside_cart-text-empty-color: var(--danger);

$aside_cart-close-bg-color: $main-color;
$aside_cart-close-icon-color: #fff;
