.main {
  &__product {
    display: flex;

    .product {
      &__img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: auto !important;
        }
      }

      &__container-left {
        width: 60%;
        display: flex;

        img {
          width: 100%;
        }
      }

      &__container-right {
        width: 40%;
        display: flex;
        flex-direction: column;
      }

      &__lateral-gallery {
        width: 80px;
        margin-right: 20px;
      }

      &__infos {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .infos {
          &__title {
            font-size: 24px;
            margin-bottom: 20px;
          }

          &__cod {
            font-size: 12px;
            margin-bottom: 20px;
          }

          &__brand {
            font-size: 12px;
            margin-bottom: 20px;
          }

          &__avaliation {
            display: flex;
            margin-bottom: 12px;
            .avaliation {
              &__stars {
                display: flex;
                svg {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }

      &__price-infos {
        display: flex;
        flex-direction: column;
        padding: 10px 8px 15px 8px;
        border: 1px solid #e5e5e5;
        .price-infos {
          &__prices {
            margin-bottom: 12px;
            .prices {
              &__old {
                color: #b5b5b4;
                font-size: 14px;
                text-decoration: line-through;
              }
              &__actual {
                font-size: 26px;
                font-weight: bold;
                margin-left: 20px;
              }
            }
          }
          &__installments {
            color: #b5b5b4;
            font-size: 18px;
            margin-bottom: 12px;
            strong {
              color: black;
            }
          }
          &__discount {
            font-size: 14px;
            margin-bottom: 12px;
          }
          &__buy {
            display: flex;
            padding-top: 20px;
            margin-bottom: 18px;
            border-top: 1px solid #f0f0f0;
            .buy {
              &__button {
                height: 42px;
                width: 100%;
                font-size: 14px;
                max-width: 380px;
                margin-left: 20px;
                color: white;
                background: #459e4a;
              }
            }
          }
          &__installments-group {
            display: flex;
            margin-bottom: 18px;
            align-items: center;
            .installments-group__installments {
              width: 100%;
              height: 40px;
              display: flex;
              padding: 0 30px;
              margin-left: 20px;
              align-items: center;
              border: 1px solid #eaeaea;
              justify-content: space-between;
            }
          }
          &__cep {
            display: flex;
            align-items: center;
            .cep {
              &__calc-container {
                display: flex;
                width: 100%;
                max-width: 338px;
                padding: 1px 0;
                border: 1px solid #eaeaea;
                input {
                  padding-left: 15px;

                  &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                  }
                }
                button {
                  display: flex;
                  width: 138px;
                  margin-left: auto;
                  align-items: center;
                  justify-content: center;
                  height: 38px;
                  font-size: 14px;
                  background: #f9d901;
                }
              }

              &__dont-know {
                color: black;
                margin-left: 10px;
                font-size: 12px;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;

      .product {
        &__container-left {
          width: 100%;
          display: flex;

          img {
            width: 100%;
          }
        }

        &__container-right {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  &__buy-together {
    margin-top: 25px;
    margin-bottom: 50px;

    .product {
      border-radius: 4px;
      border: 1px solid #dbdbdb;
      min-height: 412px;

      * {
        border: none;
      }
    }

    .buy-together {
      &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__options {
        & > div {
          border-radius: 4px;
          max-width: 425px;
          border: 1px solid #dbdbdb;

          input {
            border-radius: 0px;
            margin: 0 0 0 30px;
            border: 1px solid red !important;
          }

          input {
            display: none;

            & + label {
              margin-left: 25px;
            }

            & + label::before {
              content: "";
              width: 20px;
              height: 20px;
              display: block;
              position: absolute;
              top: calc(50% - 10px);
              border: 1px solid #dbdbdb;
            }

            &:checked + label::before {
              background: url("/images/input_checked.png") no-repeat center;
            }
          }

          .label-img {
            width: 100%;
            display: block;
            padding-right: 10px;
            img {
              margin: 0;
              padding-left: 20px;
              width: 100%;
            }
          }

          &:nth-child(2) {
            margin-top: 60px;
          }
        }

        .options {
          &__option-to-buy {
            display: flex;
            padding: 0px;
            min-height: 175px;
            align-items: center;
            .label-img {
              min-width: 155px;
              max-width: 155px;
              img {
                margin: 0 10px;
              }
            }
            .option-to-buy {
              &__infos {
                display: flex;
                flex-direction: column;
                .infos {
                  &__name {
                    font-size: 14px;
                    margin-bottom: 30px;
                  }
                  &__price {
                    font-size: 18px;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }

      &__block-price {
        width: 300px;
        display: flex;
        align-items: center;
        padding: 20px;
        flex-direction: column;
        border: 1px solid #dbdbdb;

        .block-price {
          &__header {
            font-size: 14px;
          }

          &__price {
            font-size: 18px;
            font-weight: bold;
            margin-top: 12px;
            margin-bottom: 14px;
          }

          &__button {
            height: 41px;
            width: 100%;
            color: white;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            background: #459e4a;
          }
        }
      }
    }

    @media screen and (max-width: 1100px) {
      .buy-together {
        &__container {
          flex-direction: column;
          margin: 20px;
        }

        &__options {
          margin: 50px 0 !important;
        }

        &__image-plus {
          margin-top: 50px !important;
        }
      }
    }
  }
}

.pg-product {
  .main__breadcrumb {
    margin: 8px 0 20px;
    padding: 10px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 2px solid #e5e5e5;
  }
}

.triade {
  .title-border-left {
    width: 30%;
    display: inline-block;
    cursor: pointer;
  }
}

.disable__item {
  border-color: #dbdbdb !important;
  color: #dbdbdb !important;
}

.triade__item {
  margin: 0 0 20px;
  min-height: 200px;

  p {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 45px;
  }

  .triade__item__title {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 15px;
  }

  dl {
    display: flex;

    dt,
    dd {
      font-size: 14px;
      margin: 0 25px 0 0;
    }
  }

  a {
    background-color: #f9d901;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 11px 30px;
    left: 50%;
    position: relative;
    margin-left: -91px;
  }
}

.product__lateral-gallery {
  .slick-arrow {
    position: absolute !important;
    bottom: -60px !important;
    height: 35px;
    width: 35px;
    top: auto;
    background-size: 34px !important;
    background-repeat: no-repeat !important;
  }
}

@media screen and (max-width: 1200px) {
  .product__lateral-gallery {
    width: 17%;

    .slick-arrow {
      position: relative;
      display: block !important;
    }
  }

  .product__img {
    width: 83%;
  }

  .price-infos__cep {
    flex-direction: column;
    text-align: left;
  }

  .product__container-left,
  .product__container-right {
    width: 100% !important;
  }

  .product__container-left {
    padding: 0 30px 0 0;
  }

  .product__container-right {
    margin: 30px 0 0;
  }

  .price-infos__installments-group {
    flex-direction: column;
  }

  .installments-group__installments {
    margin: 10px 0 0;
  }

  .cep__dont-know {
    margin: 13px 0 0;
  }

  .buy-together__image-plus,
  .buy-together__options {
    max-width: 100%;
  }

  .buy-together__image-plus {
    margin: 0 30px;
  }

  .buy-together__options {
    margin: 30px 30px 0 0 !important;
  }

  .options__option-to-buy {
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px !important;

    input {
      display: none;
    }

    img {
      margin: 0 0 20px !important;
    }
  }

  .buy-together__block-price {
    margin: 20px 0 0;
    width: 42% !important;
  }
}

@media screen and (max-width: 600px) {
  .main__product {
    flex-direction: column;
  }

  .product__container-left,
  .product__container-right {
    width: 100% !important;
  }

  .product__container-left {
    padding: 0;

    img {
      padding: 5px;
    }
  }

  .product__img {
    width: 100%;
  }

  .buy-together__block-price {
    width: 100% !important;
  }

  .triade {
    margin: 0 20px;

    .title-border-left {
      width: 100%;
    }
  }

  .product__lateral-gallery {
    .slick-arrow {
      display: block !important;
    }

    .slick-prev {
      position: absolute;
      left: 0;
      transform: translateX(-50%);
    }

    .slick-next {
      position: absolute;
      bottom: auto;
      right: -34px;
      transform: translateX(-50%);
    }
  }
}

.main__form {
  display: flex;
  margin: 0;
  padding: 20px;
  border: 2px solid #eee;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  .mobile-msg {
    display: none;
  }

  input,
  select {
    border-radius: 0;
    border: 2px solid #eee;
  }

  label {
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .main__left {
    position: relative;
    display: block;
    width: 591px;
    padding: 0 0 0 90px;
    margin: 0 18px 0 0;

    @media screen and (max-width: 1200px) {
      width: 49%;
      margin: 0 1% 0 0;
      padding: 0;
    }

    @media screen and (max-width: 800px) {
      width: 100% !important;
      margin: 0 0 35px;
      padding: 0;
    }

    .main__left__title {
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 7px;
    }

    .main__left__subtitle {
      font-size: 12px;
      margin: 0 0 20px;
    }
  }

  .main__right {
    position: relative;
    display: block;
    width: 591px;
    padding: 0 90px 0 0;

    @media screen and (max-width: 1200px) {
      width: 49%;
      margin: 0 0 0 1%;
      padding: 0;
    }

    @media screen and (max-width: 800px) {
      width: 100% !important;
      margin: 0 0 35px;
      padding: 0;
    }

    .main__right__title {
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 7px;
    }

    .main__right__subtitle {
      font-size: 12px;
      margin: 0 0 20px;
    }
  }

  .form-submit {
    width: 100%;
    height: 42px;
    color: white;
    border-radius: 0;
    background: #459e4a;
    text-transform: uppercase;
    margin: 26px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .product__container-left {
    flex-direction: column-reverse;
  }

  .product__lateral-gallery {
    width: 100% !important;
    height: 100% !important;
  }
}

@media screen and (max-width: 800px) {
  .mobile-msg {
    display: block !important;
  }

  .desk-msg {
    display: none;
  }

  footer {
    margin-top: 30px;
  }

  .price-infos__installments {
    margin: 4px 0 16px;
  }

  .product__infos {
    .infos__title {
      margin-bottom: 7px !important;
    }

    .infos__cod {
      margin-bottom: 0 !important;
    }

    .infos__brand {
      margin-bottom: 9px !important;
    }
  }
}

.avaliation__stars svg {
  &:last-child {
    color: #b5b5b5 !important;
  }
}

.product__container-left {
  img {
    padding: 5px 0;
  }
}

@media screen and (max-width: 600px) {
  .product__container-left {
    img {
      padding: 0 5px;
    }
  }
}

.infos__title {
  margin-bottom: 13px;
}

.infos__cod {
  margin: 0;
}

.buy-together__options {
  .slick-arrow {
    top: 50% !important;
  }
}

.main__buy-together {
  margin-top: 65px !important;
  .slick {
    &-prev {
      left: -30px;
      background: url("/images/arrow-compre-junto-prev.png") no-repeat center !important;
    }
    &-next {
      right: -30px;
      background: url("/images/arrow-compre-junto-next.png") no-repeat center !important;
    }
  }
}

.infos__avaliation {
  margin: 33px 0 0;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  .modal__pedido {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 775px;
    max-height: 400px;
    overflow: auto;
    background-color: #eeeeee;
    padding: 40px 20px 20px;
  }

  .close {
    width: 30px;
    text-align: center;
    margin: 0 0 5px;
    position: absolute;
    top: 7px;
    right: 0;
  }

  .title {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 0 15px;
  }

  .modal__forma {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    text-align: center;

    .modal__forma__item {
      font-size: 15px;
      text-align: center;
      padding: 12px 20px;
      text-transform: uppercase;
      background-color: #cecece;
      color: #000000;
      display: inline-block;
      margin: 0 7px 20px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #f8db00;
      }
    }

    .active {
      background-color: #f8db00 !important;
    }
  }

  .modal__block {
    position: relative;
    display: block;
    width: 100%;
    float: left;
    margin: 0 0 20px;
    background-color: #ffffff;
    padding: 10px;
    min-height: 156px;

    table {
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      border: 1px solid #cecece;

      tbody {
        position: relative;
        display: block;
        width: 100%;
        text-align: center;

        tr {
          border: 1px solid #cecece;
          width: 100%;
          position: relative;
          display: block;
          text-align: center;
          td {
            padding: 5px 10px;
            position: relative;
            display: inline-block;
            width: 24%;
            box-sizing: border-box !important;
            font-size: 13px;
            &:nth-child(even) {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.open__modal {
  width: 400px;
  text-align: center;
  background-color: #f8db00;
  color: #000000;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 0;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #000000;
    color: #ffffff !important;
  }
}

.product__img {
  img {
    cursor: zoom-in;
  }
}

.slider-nav {
  .slick-slide {
    cursor: pointer;
  }
}

/*.slide{
  display: flex;
  width: 560px;
  height: 100%;
  transition: all 0.8s;
  overflow: hidden;
}

label{
  flex-direction: column;
  img{
    width: 100%;
    cursor: pointer;
    float: left;
  }
}

input[name="grupo"]{
  display: none;
}

input[name="grupo"]{
  &:checked + label img{
    opacity: 0.9;
  }
}

#foto2{
  &:checked ~ .principal .slide{
    margin-left: -100%;
  }
}

#foto3{
  &:checked ~ .principal .slide{
    margin-left: -200%;
  }
}

#foto4{
  &:checked ~ .principal .slide{
    margin-left: -300%;
  }
}*/

.product__container-left {
  display: block !important;
  padding: 0 25px 0 0;
}

.slider__product__galery {
  position: relative;
  display: block;
  float: right;
  width: 100%;
  height: 423px;
  // padding: 0 25px 0 0;

  &--has-thumbs {
    width: 80%;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  img {
    width: auto !important;
    height: 100%;
    max-height: 400px;
    min-height: 400px;
    position: relative;
    display: block !important;
    margin: 0 auto;
  }

  .slick-dots {
    display: block;
    position: absolute;
    width: 20%;
    left: -25%;
    bottom: auto;
    top: 0;
    overflow: auto;
    height: 423px;

    li {
      height: 100px;
      width: 73%;
      display: block;
      margin: 0 0 10px;
      background-repeat: no-repeat !important;
      background-size: 100%;

      button {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .slider__product__galery {
    padding: 0;
    width: 100%;

    .slick-list {
      width: 100%;
    }

    .slick-dots {
      display: block;
      width: 100%;
      height: 100px;
      position: relative;
      left: 0;
      margin: 14px 0 0;

      li {
        display: inline-block;
        float: left;
        width: 93px;
        margin: 0 5px 0 0;
      }
    }
  }

  .product__container-right {
    margin: 80px 0 0;
  }
}
